._container {
  max-width: $widthContainer;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

._title {
  font-size: 34px;
  line-height: 42px;
  text-align: left;
  font-weight: bold;
}

._btn-mini {
  width: 90px;
  padding: 4px 8px;
  font-size: .8em;
}

._btn {
  width: 200px;
  padding: 10px 20px;
}

._btn-mini,
._btn {
  color: #fff;
  border-radius: 5px;
  background: #000;
  transition: background .4s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #1C1C1C;
  }
}

body.lock {
  overflow: hidden;
}