$widthContainer: 1200px;
$fontFamily: "Gilroy-Regular";
$fontSize: 16px;
$mainColor: #070707;
$secondColor: #828282;
$firstBackgound: #fff;
$secondBackground: #F6F6F6;

// Брейк-поинты
$pc: $widthContainer + px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

$heightHeader: 65px;